body {
    background: black url("black_tile.png");
}

h1, h2 {
    text-align: center;
    color: white;
}

h2, h3, h4, a, p {
    color: #E1F5FE;
}

ul, ol {
    display: block;
    color: ghostwhite;
}

::placeholder {
    color: darkgrey;
}

td {
    color: black;
    width: auto;
}

input {
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
    padding: 5px;
    border-radius: 50px;
    background: white;
}

.add {
    display: block;
    text-align: center;
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px solid floralwhite;
    padding: 50px 25px;
    border-radius: 50px;
    background: #152238;
    opacity: 80%;
}

#historyTable, #accountTable, #bankHistoryTable {
    background: whitesmoke;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid floralwhite;
}

#added {
    display: block;
    text-align: center;
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px solid floralwhite;
    padding: 50px 25px;
    border-radius: 50px;
    background: #152238;
    opacity: 80%;
}

button {
    border-radius: 10px;
    background: dimgrey;
    font-size: 16px;
    color: white;
    padding: 5px 30px;
}

select {
    border-radius: 20px;
    background: white;
    font-size: 16px;
    color: dimgrey;
    padding: 2px 50px;
}

img {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid floralwhite;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 #3D3D3D, 0 6px 20px 0 #3D3D3D;
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    color: ghostwhite;
    padding: 2px;
}

.myTable {
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
}

.warning {
    color: red;
}